@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400&display=swap');


@font-face {
  font-family: "Aderra";
  src: url(fonts/aderra.otf);

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

body {
  background-color: #000;
  color: white;

}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

/* PRELOADER */
.preloader {
  background: #000 url(images/preloader.gif) no-repeat center;
  background-size: 20%;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 100;
  animation: ease-in-out;
}

/* NAVIGATION BAR */
.logo-large img {
  width: 12rem;
}

.logo-small img {
  width: 3rem;
  display: none;
}


.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 2.5rem;
  color: white;
  background: #000;
  position: sticky;
  top: 0;
}

/* MENU STYLING */

.exit img {
  width: 3.5rem;
}

.exit {
  position: absolute;
  top: 1.5rem;
  right: 2.5rem;
}

.menu {

  opacity: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: white;
  height: 100vh;
  width: 100%;
  position: fixed;
  top: -100%;
  align-items: center;
  background-color: rgb(36, 36, 36);
  padding: 0 2rem;
}

.menu-btn,
.exit {
  cursor: pointer;

}


.menu-btn {
  font-family: 'Aderra', Montserrat, sans-serif;
  font-weight: 700;
  display: inline-block;

  padding: 2em;
  margin: -2em;
  transition: all 0.25s ease-in-out;
}

.menu-btn:hover {
  color: rgb(68, 68, 68);
  transition: all 0.25s ease-in-out;

}

.nav-link {
  font-family: 'Aderra', Montserrat, sans-serif;
  font-size: 5rem;
  font-weight: 600;
  transition: all 0.25s ease-in-out;

}

.nav-link:hover {
  color: rgb(68, 68, 68);
  transition: all 0.25s ease-in-out;

}

.info {
  margin-bottom: 2rem;
}

.title {
  color: rgb(133, 120, 104);
  font-size: 2rem;
  font-family: 'Aderra', Montserrat, sans-serif;
}

.nav {
  margin-top: -1.2rem;
}

@media(max-width:900px) {
  .nav-bar {
    padding: 1.5rem 1rem;
  }

  .logo-large img {
    display: none;
  }

  .logo-small img {
    display: block;
  }

  .exit img {
    width: 2rem;
  }

  .nav-link {
    font-size: 3rem;

  }

  <<<<<<< HEAD .info-container {
    =======.information {
      >>>>>>>79cb6f8871813d2845d0aabfbcf3447e8558b1d6 display: none;
    }
  }

  /* HERO SECTION */
  .hero-sect {


    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* ABOUT US */
  .about-us {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    padding: 12% 6%;

  }

  .about-title h3 {
    text-align: right;
    font-family: 'Aderra', sans-serif;
    font-size: 7rem;
  }

  .about-para {
    <<<<<<< HEAD padding: 14rem 0 0 5rem;
    font-size: 1.50rem
  }

  .team {
    height: 100vh;
    width: 100%;
  }

  @media (max-width:900px) {
    .about-us {
      height: 100vh;
      flex-direction: column;
      align-items: flex-start;
      padding: 2rem 2rem;
    }

    .about-title h3 {
      font-size: 4rem;
    }

    .about-para {
      font-size: 1rem;
      padding: 2rem 0 2rem 4rem;
    }
  }

  =======text-align: center;
  padding: 3rem 0;
}

>>>>>>>79cb6f8871813d2845d0aabfbcf3447e8558b1d6