@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300&display=swap');



:root {
  --clr-light: #e4e4e4;
  --clr-dark: #091224;
  --clr-primary: #27496d;
  --clr-secondary: #0c7b93;
  --clr-accent: #e43f5a;

  --background: var(--clr-light);
  --foreground: var(--clr-dark);

  --title: "Barlow", sans-serif;
  --body: "Oswald", sans-serif;
}

@media(prefers-color-scheme:light) {
  :root {
    --clr-primary: #27496d;
    --clr-secondary: #0c7b93;
    --clr-accent: #e43f5a;

    --foreground: var(--clr-light);
    --background: var(--clr-dark);
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--body);
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

body {
  background-color: var(--background);
  color: var(--foreground);

}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--foreground);
}

/* PRELOADER */
.preloader {
  background: #000 url(images/preloader.gif) no-repeat center;
  background-size: 15%;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 100;
  animation: ease-in-out;
}

/* NAVIGATION BAR */
.logo-large img {
  width: 12rem;
}

.logo-small img {
  width: 3rem;
  display: none;
}


.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 2.5rem;
  background: var(--background);
  position: sticky;
  top: 0;
}

/* MENU STYLING */

.exit img {
  width: 3.5rem;
}

.exit {
  position: absolute;
  top: 1.5rem;
  right: 2.5rem;
}

.scroll {
  display: none;
}

.menu {
  background: rgba(8, 16, 24, 0.75);
  opacity: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100vh;
  width: 100%;
  position: fixed;
  top: -100%;
  align-items: center;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  padding: 0 2rem;

}

.menu-btn,
.exit {
  cursor: pointer;
}

.menu-btn {
  font-family: var(--title);
  font-weight: 700;
  padding: 1.5rem;
  transition: all 0.25s ease-in-out;
}

.menu-btn:hover {
  color: var(--clr-accent);
  transition: all 0.25s ease-in-out;

}

.nav-link {
  color: var(--clr-light);
  display: block;
  font-family: var(--title);
  font-size: 5rem;
  font-weight: 600;
  padding-bottom: 1.5rem;
  transition: all 0.25s ease-in-out;

}

.nav-link:hover {
  color: var(--clr-accent);
  transition: all 0.25s ease-in-out;

}

.info-container {
  width: 40%;
  color: var(--clr-light);
}

.address {
  padding-top: 1rem;
  line-height: 1.75;
}


.socials a {
  color: var(--clr-light);
  display: inline-block;
  padding: 1rem 1rem 1rem 0;
}

.data {
  display: block;
  padding: 1rem 1rem 0.25rem 0;
}

.info {
  margin-bottom: 2rem;
}

.title {
  color: var(--clr-accent);
  font-size: 2rem;
  font-family: var(--title);
}


.nav {
  margin-top: -1.2rem;
}

@media(max-width:900px) {
  .preloader {
    background-size: 30%;
  }

  .menu {
    display: block;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 8rem 1.5rem;
    overflow: scroll;
  }

  .nav-list {
    padding: 10rem 0 15rem 0;
  }

  .nav-bar {
    padding: 1.5rem 0 0 1.5rem;
  }

  .logo-large img {
    display: none;
  }

  .logo-small img {
    display: block;
  }

  .exit img {
    width: 3rem;
  }

  .exit {
    top: 2rem;
    right: 0.5rem;
    padding: 1.5rem;
  }

  .scroll img {
    width: 5rem;
  }

  .scroll {
    display: block;
    position: fixed;
    bottom: 2.5%;
    right: 3%;
    text-align: center;
  }

  .nav-link {
    font-size: 3rem;
  }

  .info-container {
    width: 90%;

  }

  .socials a {
    display: block;
    padding: 1rem 1rem 1rem 0;
  }

  .data {
    display: block;
    padding: 1rem 1rem 0.25rem 0;
  }
}


/* HERO SECTION */
.hero-sect {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ABOUT US */
/* TAGLINE */
.tagline-container {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: start;
  padding: 5rem 2.5rem;
  text-transform: uppercase;
}

.tagline-small {
  font-size: 4rem;
  line-height: 4.25rem;
  padding-right: 8rem;
}

.tag-capital {
  font-size: 14rem;
  text-align: right;
  line-height: 14rem;
  color: var(--clr-secondary);
}

/* ABOUT US & WHY WE DO */
.about-us {
  background: var(--clr-secondary);
  color: var(--background);
  height: 70vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding: 5rem 2.5rem;
}

.why-container {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: start;
  flex-direction: row;
  justify-content: center;
  padding: 5rem 2.5rem;
}

.why-we h3,
.about-title h3 {
  text-align: right;
  font-family: var(--body), sans-serif;
  white-space: nowrap;
  font-size: 6rem;
  font-weight: 400;
}

.about-para,
.why-we-para {
  padding: 10rem 0 0 4rem;
  font-size: 1.50rem;
  font-weight: 300;
}

/* OUR VALUES */
.value-wrapper {
  display: flex;
  justify-content: flex-start;
  background: var(--clr-light);
  color: var(--clr-dark);
  overflow: hidden;
}

.value-wrapper h3 {
  font-family: var(--body);
  text-transform: uppercase;
  font-size: 14rem;
  font-weight: 300;
  white-space: nowrap;
  padding-right: 3rem;
  letter-spacing: -0.25rem;
  animation: move-rtl 7000ms linear infinite;
}

@keyframes move-rtl {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}

/* .team {
  height: 100vh;
  width: 100%;
} */


@media (max-width:900px) {
  .tagline-container {
    height: 100%;
    padding: 3rem 1.25rem;
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
  }

  .tagline-small {
    font-size: 2rem;
    padding-right: 45%;
    line-height: 2rem;
  }

  .tag-capital {
    font-size: 7rem;
    text-align: right;
    padding-top: 3rem;
    line-height: 8.25rem;
    color: var(--clr-secondary)
  }

  .about-us,
  .why-container {
    height: 100%;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    padding: 3rem 1.25rem;
  }

  .about-title h3,
  .why-we h3 {
    text-align: left;
    font-size: 4rem;
  }

  .about-para,
  .why-we-para {
    height: 100%;
    font-size: 1.5rem;
    font-weight: 300;
    padding: 3rem 0 2rem 3rem;
  }

  .value-wrapper h3 {
    font-size: 8rem;
  }
}